<div class="mt-5">
    <form method="POST">
        <div class="form-group">
            <label for="search-input" Từ khóa</label>
                <input type="text" class="form-control" id="search-input" name="q" placeholder="Nhập từ khóa" />
        </div>
        <div class="form-group">
            <label for="gender-input"></label>
                <select class="form-control" id="gender-input" name="gender">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>